@import url(statistics_indent/statistics_indent.css);
@import url(__items/statistics__items.css);
@import url(__item/statistics__item.css);
@import url(__text/statistics__text.css);
@import url(__source/statistics__source.css);
@import url(__numbers/statistics__numbers.css);
@import url(progress-bar/progress-bar.css);


.statistics {
    max-width: 1440px;
    /* выше установили ограничение по максимальной ширине */
    width: 100%;
    background-color: #FFFFFF;

}