@import url(title_about/title_about.css);
@import url(title_small/title_small.css);
@import url(about_indent/about_indent.css);
@import url(__edges/about__edges.css);
@import url(__items/about__items.css);
@import url(__text-create/about__text-create.css);
@import url(__main/about__main.css);
@import url(__quote/about__quote.css);
@import url(__bq/about__bq.css);
@import url(__cite/about__cite.css);
@import url(__text-items/about__text-items.css);
@import url(__text/about__text.css);




.about {
    background-color: #613A93;
    width: 100%;
    margin: 0;
}