.statistics__text {
    max-width: 260px;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    height: 48px;
    line-height: 1.33;
    /* or 133% */
    color: #000000;
    margin: 20px 20px 76px 20px;
}