.title_about {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto 75px auto;
    padding-top: 90px;
    padding-left: 0;
}