.footer__last {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1;
    /* identical to box height, or 100% */
    color: #898989;
}