@import url('./__tell-story/button__tell-story.css');

.button {
    background-color: #613A93;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }
