@import url('./_bold/banner__text_bold.css');

.banner__text {
    max-width: 750px;
    margin: 20px auto;
    font-family: Inter;
    font-weight: normal;
    font-size: 30px;
    line-height: 46px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
  }