/*page*/

.page {
  max-width: 1440px;
  margin: 0 auto;
}

.page__header {
  margin: 18px 60px;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1280px) {
  .page__header {
    margin: 18px 50px;
  }
}

/*header*/

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 1320px;
  align-items: center;
}

.header__logo {
  width: 340px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #121212;
}

.header__menu-links {
  position: relative;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.header__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  margin-right: 18px;
  color: #121212;
}

.header__link_active {
  text-decoration-line: underline;
}

.header__menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .header__menu {
    display: block;
  }

  .header__menu-links {
    display: none;
  }
}

/*cover*/

.cover {
  position: relative;
}

.cover__video {
  background-color: #613a93;
  position: relative;
  width: 100%;
  height: 100vh;
}

.cover__title {
  position: absolute;
  font-size: 92px;
  line-height: 111px;
  color: #ffffff;
  font-weight: 800;
  text-align: center;
  width: 718px;
  top: calc(50% - 55.5px);
  left: calc(50% - 359px);
  z-index: 1;
}

.cover__button {
  background-image: url("image/cover-button.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 36px;
  height: 12px;
  bottom: 40px;
  left: calc(50% - 18px);
  border: none;
  cursor: pointer;
  z-index: 1;
}

@media screen and (max-width: 1280px) {
  .cover__title {
    font-size: 78px;
    line-height: 94px;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    font-size: 64px;
    line-height: 77px;
  }
}

/*video-stories*/

.video-stories {
  max-width: 1340px;
  display: grid;
  grid-template-columns: minmax(0, 413px) minmax(0, 867px);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "title video"
    "description video"
    "buttons video"
    ". caption";
  grid-column-gap: 40px;
}
.video-stories__title {
  width: 100%;
  font-size: 32px;
  line-height: 36px;
  grid-area: title;
  margin: 0 0;
  font-weight: 600;
  padding: 0 0;
}

.video-stories__desription {
  max-width: 340px;
  font-size: 18px;
  line-height: 22px;
  grid-area: description;
  margin: 0 0;
  padding: 0 0;
}

.video-stories__video {
  position: relative;
  grid-area: video;
}
.video-stories__iframe {
  background-color: #ededed;
  margin: 0 0 10px 0;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 51.9%;
}

.video-stories__play-button {
  background-image: url("image/video-button-play.png");
  position: absolute;
  width: 90px;
  height: 90px;
  top: calc(50% - 45px);
  left: calc(50% - 45px);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.video-stories__caption {
  font-size: 12px;
  line-height: 16px;
  grid-area: caption;
  color: black;
}

.arrow-btns {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 80px;
  grid-area: buttons;
  align-items: flex-end;
}

.arrows-btns__btn {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #ededed;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  cursor: pointer;
}

.arrows-btns__btn-right {
  background-image: url("image/arrow-right.svg");
  grid-area: button-right;
}

.arrows-btns__btn-left {
  background-image: url("image/arrow-left.svg");
  grid-area: button-left;
}

.arrows-btns__btn-right_active {
  background-image: url("image/arrow-right_active.svg");
}

.arrows-btns__btn-left_active {
  background-image: url("image/arrow-left_active.svg");
}

@media screen and (max-width: 1280px) {
  .video-stories__title {
    font-size: 28px;
    line-height: 32px;
    max-width: 367px;
  }

  .video-stories__description {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .video-stories__title {
    font-size: 24px;
    line-height: 28px;
    max-width: 288px;
  }

  .video-stories__description {
    font-size: 13px;
    line-height: 16px;
  }

  .video-stories__title {
    max-width: 380px;
  }
}

/*main*/

.main {
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
}

.main__cover {
  margin: 0 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.main__video-stories {
  font-family: Inter, Arial, Helvetica, sans-serif;
  margin: 100px 60px 74px;
}

/*stories*/ 

.stories {
  padding: 0 60px;
}

.stories__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 112%;
  color: #000000;
  max-width: 413px;
  padding: 100px 0 70px;
}

.stories__section {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 300px));
  grid-template-rows: minmax(0, auto);
  column-gap: 40px;
  row-gap: 70px;
  margin-bottom: 70px;
}

.stories__button {
  background-color: #FBFBFB;
  border: none;
  width: 100%;
  height: 82px;
  margin-bottom: 100px;
}

.card {
  display: flex;
  flex-direction: column;
}

.card__image {
  width: 100%;
}

.card__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  color: #000000;
  padding: 20px 0 14px;
}

.card__description {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 129%;
  color: #666666;
  max-width: 250px;
}